<div id="bottom" align="center">
    <div class="bottom-left">© 2017 Company. All Rights Reserved.</div>
    <div class="bottom-right">Follow us on: <img class="bottom__followuson-shape" src="./Shape_4.svg"> <img class="bottom-followuson-shape" src="./Shape_6.svg"><img class="bottom-followuson-shape" src="./Shape_5.svg"><img class="bottom-followuson-shape" src="./Shape_7.svg"></div>
    </div>