 <nav id="header" class="navbar navbar-expand-md navbar-light flex-md-row-reverse">
  <button class="navbar-toggler menu-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-md-end">
      <li class="nav-item dropdown menu__item">
        <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu submenu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item submenu__item" href="#">Our Story</a>
          <a class="dropdown-item submenu__item" href="#">Why Company</a>
          <a class="dropdown-item submenu__item" href="#">Success Stories</a>
          <a class="dropdown-item submenu__item" href="#">Careers</a>
        </div>
      </li>
      <li class="nav-item menu__item">
        Services<span class="menu__item-carret d-none d-md-inline" ></span>
      </li>
      <li class="nav-item menu__item">
        Solutions<span class="menu__item-carret d-none d-md-inline" ></span>
      </li>
      <li class="nav-item active menu__item">
     Blog
      </li>
      <li class="nav-item active menu__item d-none d-md-block">    <button class="button"><img class="b-icon" src="./icon.svg">&nbsp;&nbsp;Get in Touch</button>
 </li>
    </ul>
  </div>
  <img class="company-logo" src="./COMPANY_LOGO.png">
    <img class="b-icon d-md-none" src="./icon.svg">
</nav>