<div id="landing-banner" align="center">
        <div class="integer-bibendum" align="center">Integer bibendum sit amet arcu vel egestas.</div>
        <div>
        <div class="landing-banner-service-container">
        <figure class="landing-banner-service">
        <img  class="landing-banner-service-name" src="./staffing-icon-2.png">
        <figcaption class="landing-banner-service-name-label">Service Name</figcaption>
           </figcaption>
        </figure>
         <figure class="landing-banner-service">
       <img  class="landing-banner-service-name" src="./staffing-icon-2.png">
           <figcaption class="landing-banner-service-name-label">Service Name
                      </figcaption>
        </figure>
           <figure class="landing-banner-service">
       <img  class="landing-banner-service-name" src="./staffing-icon-2.png">
          <figcaption class="landing-banner-service-name-label">Service Name
           </figcaption>
        </figure>
        </div>
        </div>
    </div>