<div id="success-stories" align="center">
    <p class="success-stories-heading" align="center">Our Success Stories</p>
    <p class="success-stories-text">Here are some of the greatest works from our arsenal</p>
    <div class="story-container">
       {% include "../molecules/story1.html.twig"  %}
       {% include "../molecules/story2.html.twig"  %}
       {% include "../molecules/story3.html.twig"  %}

    </div>
    </div>