<div id="success-stories" align="center">
    <p class="success-stories-heading" align="center">Our Success Stories</p>
    <p class="success-stories-text">Here are some of the greatest works from our arsenal</p>
    <div class="story-container">
       <div class="story">
          <div class="story-box"></div>
          <div class="story-text" align="left">
          Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</div>
          <div class="story-bottom" align="left">Service / Solution Name</div>
       </div>
       <div class="story">
          <div class="story-box" ></div>
          <div class="story-text" align="left">Proin dapibus sollicitudin iaculis</div>
          <div class="story-bottom" align="left">Service / Solution Name</div>
       </div>
       <div class="story">
          <div class="story-box"></div>
          <div class="story-text" align="left">Nullam fermentum interdum volutpat</div>
          <div class="story-bottom" align="left">Service / Solution Name</div>
       </div>
    </div>
    </div>