@import 'variables-partial.scss';

@media screen and (max-width: $mobile_breakpoint) {
  .menu {
    position: absolute;
    padding: 0px;
    top: 69px;
    left: 0px;
    z-index: 1;
    width: 100vw;
  }
  .mobile {
    display: block;
  }

  .submenu {
    display: block;
    /* list-style: none; */
    /* padding: 0px; */
    width: 100vw;
    left: -32px !important;
    position: relative !important;
  }

  .landing-banner-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .landing-banner-service-container {
    display: block;
  }
}
