@import 'config/**/*.scss';
@import 'variables-partial';
@import 'base-partial.scss';
@import 'layout-partial.scss';
@import 'modules/button-partial.scss';
@import 'modules/menu-partial.scss';
@import 'modules/input-partial.scss';

.company-logo {
  position: relative;
  float: left;
  @media screen and (max-width: $mobile_breakpoint) {
    right: 30vw;
  }
}

/* disabe bootstrap collapsing animation */
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.submenu {
  display: none;
  background-color: #181514 !important;
  border-top: 5px solid #f03b00 !important;
  /* right: -4px; */
  top: 10px;
}

.menu__item:active .submenu {
  display: flex;
  flex-direction: column;
}

.submenu__item {
  /* Style for "Our Story" */
  color: #afa5a3 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 36px !important;
  padding: 8px 0px 8px 48px !important;
}

.landing-banner-service {
  margin: 16px;
  border: 1px solid #000000;
  display: inline-block;
  padding: 32px;
}

.landing-banner-service-container {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: $mobile_breakpoint) {
    display: block;
  }
}

.landing-banner-service-name {
  position: relative;
  vertical-align: middle;
  padding: 0px 0px 16px 0px;
}
.landing-banner-service-name-label {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  @media screen and (max-width: $mobile_breakpoint) {
    display: inline-block;
    padding: 0px 0px 0px 20px;
  }
}

.integer-bibendum {
  /* Style for "Integer bi" */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 500;
  padding-top: 127px;
  position: relative;
}

@import 'modules/success-stories-partial.scss';

.about-other {
  width: 545px;
  @media screen and (max-width: $mobile_breakpoint) {
    width: 100%;
  }
}
.about__img {
  float: right;
  /* Style for "Layer 26" */
  width: 600px;
  height: 335px;
  @media screen and (max-width: $mobile_breakpoint) {
    width: inherit;
    height: inherit;
  }
}

.about__heading {
  /* Style for "Mauris id" */
  color: #484340;
  font-family: 'Montserrat - Semi Bold', sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.about__text {
  /* Style for "In maximus" */
  color: #484340;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.testimony__text-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.testimony {
  display: flex;
  overflow-x: scroll;
  @media screen and (max-width: $mobile_breakpoint) {
    flex-direction: column;
  }
}
.testimony__container {
  margin: 36px;
}

.testimony__heading {
  /* Style for "Testimonia" */
  color: #484340;
  font-family: 'Montserrat - Semi Bold', sans-serif;
  font-size: 28px;
  font-weight: 400;
  width: 100%;
}

.testimony__client-icon {
  float: left;
}
.testimony__client-name {
  /* Style for "CLIENT NAM" */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "Position," */
}
.testimony__client-position {
  color: #484340;
  font-family: 'Montserrat - Regular', sans-serif;
  font-weight: 400;
}
.testimony__text-container {
  color: #81736f;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: italic;
  background: url('./Rounded_Rectangle_2.svg') no-repeat;
  background-size: contain;
  width: 373px;
  padding-top: 57%;
  position: relative;
  @media screen and (max-width: $mobile_breakpoint) {
    width: 100%;
  }
}

.testimony__text {
  position: absolute;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  padding: 24px;
}

// .testimony__text:after
// {
// content: "";
// position: relative;
//     bottom: 40px;
//     left: 48px;
// border-style: solid;
// border-width: 25px 25px 0;
// border-color: #ffffff transparent;
// display: block;
// width: 0;
// z-index: 1;
// }

.getintouch-heading {
  /* Style for "Convinced" */
  color: #ffffff;
  font-family: 'Montserrat - Semi Bold', sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.getintouch-text {
  /* Style for "Company ha" */
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.getintouch-name-email-number {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  @media screen and (max-width: $mobile_breakpoint) {
    flex-direction: column;
  }
}

.messageinbrief {
  /* Style for "Rounded Re" */
  height: 105px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #babbbc;
  /* Style for "Message in" */
  color: #81736f;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding: 10px;
}

.bottom-left {
  float: left;
  padding: 10px;
  position: relative;
  bottom: 16px;
  @media screen and (max-width: $mobile_breakpoint) {
    float: none;
  }
}
.bottom-right {
  float: right;
  padding: 10px;
  position: relative;
  bottom: 16px;
  @media screen and (max-width: $mobile_breakpoint) {
    float: none;
  }
}

.bottom__followuson-shape {
  vertical-align: middle;
  padding: 2px;
}
