<form>
    <div class="getintouch-name-email-number">
    {% include "../atoms/fullname.html.twig" %}
    {% include "../atoms/email.html.twig" %}
    {% include "../atoms/number.html.twig" %}
    </div>
    {% include "../atoms/textarea.html.twig" %}
    <br>
    <br>
    <button class="button" type="submit">Submit</button>
</form>