<div class="story">
          <div class="story-box" ></div>
          <div class="story-text" align="left">Proin dapibus sollicitudin iaculis</div>
          <div class="story-bottom" align="left">Service / Solution Name</div>
       </div>