<div class="story">
          <div class="story-box"></div>
          <div class="story-text" align="left">
          Mauris at quam at mauris venenatis eleifend eleifend odio a pretium</div>
          <div class="story-bottom" align="left">Service / Solution Name</div>
       </div>