<div class="testimony__container">
        <div class="testimony__text-container">    <span class="testimony__text">	<img class="testimony__text-icon" src="./quote.png">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. </span></div>
        <div class="testimony__client">
        <img class="testimony__client-icon" src="./Layer_17.png">
        <b class="testimony__client-name"><b>CLIENT NAME</b></b>
        <br>
        <span class="testimony__client-position">Position, ORG</span>
        </div>
        </div>