<div class="testimony">
        <div class="testimony-text-container"><span class="testimony-text"><img class="testimony-text-icon" src="./quote.png">	Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.</span> </div>
        <div class="testimony-client">
        <img class="testimony-client-icon" src="./Layer_17.png">
        <b class="testimony-client-name">CLIENT NAME</b>
        <br>
        <span class="testimony-client-position">Position, ORG</span>
        </div>
    </div>
    </div>