<div class="testimony__container">
        <div class="testimony__text-container">	
        <span class="testimony__text"><img class="testimony__text-icon" src="./quote.png">Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.</span></div>
        <div class="testimony__client">
        <img class="testimony__client-icon" src="./Layer_17.png">
        <b class="testimony__client-name">CLIENT NAME</b>
        <br>
        <span class="testimony__client-position">Position, ORG</span>
        </div>
        </div>